body {
  background-image: url("a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

div label input {
  appearance: none;
  display: block;
  height: 6px;
  width: 6px;
  margin: 3px auto;
  border-radius: 3px;
}

div label input:checked {
  background-color: white;
}

#switcher {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}
.eng {
  width: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}
.eng:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.eng:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#search-box {
  display: flex;
  justify-content: center;
  height: 30px;
}

#search-box #key {
  box-shadow: 0 0 10px 0 gray;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 300px;
  border: 0px;
  padding-left: 15px;
  outline: 0;
}

#search-box #btn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 50px;
  border: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

#adder {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 300px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 gray;
  border-radius: 5px;
  padding: 20px;
}

#adder input {
  margin-left: 20px;
}

#adder button {
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px auto;
  background-color: inherit;
  border-radius: 5px;
  color: white;
  border: 0;
}

#bookmark {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 50%;
  height: 500px;
  margin: 100px auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
}

#bookmark #show {
  height: 50px;
  width: 50px;
  margin: 25px;
  border-radius: 25px;
  font-size: 20px;
  border: 0px;
  background-color: inherit;
  color: white;
}

#bookmark div {
  margin: 15px;
  width: 100px;
  height: 70px;
}

#bookmark div img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px auto;
}

#bookmark div a {
  display: block;
  font-size: 12px;
  width: 80px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bookmark div button {
  display: none;
  width: 50px;
  margin: 5px auto;
  border: 0px;
  border-radius: 2px;
  background-color: inherit;
  color: white;
}

#bookmark div:hover button {
  display: block;
}

footer {
  position: absolute;
  right: 50%;
  bottom: 10px;
}

footer span {
  font-size: 10px;
}